<header>

  <div class="nav">
    <a routerLink="/" class="nav-aec-link">Somos Muchas</a> <span class="mx-3">|</span>
    <a  class="nav-aec-link"  href="/#proyectos">Causas</a> <span class="mx-3 d-none d-md-inline">|</span><br class="d-md-none" />
    <a  class="nav-aec-link" data-toggle="modal" data-target="#modalFAQ">Preguntas frecuentes</a><span class="mx-3">|</span>
    <a  class="nav-aec-link" data-toggle="modal" data-target="#modalContacto">Contacto</a><!--<span class="mx-3">|</span>-->
    <!--<a target="_blank" class="nav-aec-link" href="https://causascomunes.com/">CausasComunes.org</a>-->
  </div>

  <!--<a routerLink="/"><img class="logo-img" src="../../../assets/images/logo.png"></a>-->

  <br/>

  <a routerLink="/"><div class="title"> Somos Muchas </div></a>

  <br/>

  <div class="subtitle">"No estoy aceptando las cosas que no puedo cambiar, estoy cambiando las cosas que no puedo aceptar."
    <br />- Angela Davis</div>

</header>


<div class="modal fade" id="modalFAQ" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
          </button>

          <span class="q-title">¿Puedo contactar a más de un(a) Congresista?</span>
          <div class="question">
                  Sí, claro. Cuantos más mensajes les lleguen, más probabilidades tendremos de que nos presten atención.
          </div>

          <span class="q-title">¿Qué les digo cuando les contacto?</span>
          <div class="question">
                  El mensaje es totalmente libre, pero te recomendamos, en primer lugar, ser respetuosx y en segundo lugar, hablar con sinceridad.
          </div>
          <div class="question">
            El objetivo de este espacio es que lxs Congresistxs apoyen nuestras causas, entonces lo mejor será darle los mejores argumentos para que lo hagan.
          </div>
          <div class="question">
            De igual manera, vas a encontrar mensajes predeterminados que puedes usar.
          </div>

          <span class="q-title">¿Puedo insultar a lxs Congresistas?</span>
          <div class="question">
                  Puedes, pero no lo recomendamos. El propósito de establecer este canal, es poder ser escuchadxs y lo más probable que va a pasar con los insultos, será que lxs Congresistxs cierren la comunicación y ningún otro argumento o comentario que sí sea un aporte o propuesta sea tenido en cuenta.
          </div>
          <div class="question">
            Así que por el sostenimiento y efectividad de este canal, esperamos seas responsable y respetuosx con tus palabras.
          </div>

          <button type="button" class="btn btn-aec btn-secondary btn-modal" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalContacto" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
          </button>

          <span class="q-title">Puede contactarnos por cualquiera de los siguientes medios:</span>
          <div class="question mt-3 text-center">
            <a href="https://www.instagram.com/paridadya/" target="_blank" class="follow-btn"><img class="mr-1" src="../assets/images/social_instagram_icon.svg"></a>
            <a href="https://www.facebook.com/paridadya" target="_blank" class="follow-btn f-btn"><img class="mx-1" src="../assets/images/social_facebook_icon.svg"></a>
            <a href="https://twitter.com/paridadya5050" target="_blank" class="follow-btn"><img class="mx-1" src="../assets/images/social_twitter_icon.svg"></a>
            <a href="mailto:organizacionartemisas@gmail.com" target="_blank" class="follow-btn"><img class="mx-1" src="../assets/images/social_mail_icon.svg" height="46px"></a>
          </div>

          <button type="button" class="btn btn-aec btn-secondary btn-modal" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
