@import '../../../theme/variables.scss';

header {
    width: 100%;
    background-color: $azul-oscuro;
    background-image: url(../../../assets/images/banner-home.jpg);
    background-position-x: center;
    background-size: cover;
    height: 300px;
}

.nav {
    padding-top: 5px;
    @media (min-width: $width-medium) {
      padding-top: 10px;
    }
    width: 100%;
    display:inline-block;
    text-align: center;
    color: $blanco;
    font-family: $lato;
    @include font-size-media-medium(18px, 20px);
    font-weight: normal;
}

.nav-aec-link, .nav-aec-link:visited {
    color: $blanco;
    border-bottom: 4px solid transparent;
    padding-bottom: 2px;
    @media (min-width: $width-medium) {
      padding-bottom: 10px;
    }
}

.nav-aec-link:hover {
    cursor: pointer;
    text-decoration: none!important;
    border-bottom: 4px solid $blanco;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    margin-top: 50px;
}

.title {
    width: 100%;
    text-align: center;
    color: $blanco;
    font-family: $lato;
    margin-top: 50px;
    margin-bottom: 10px;
    @media (min-width: $width-medium) {
      margin-top: 55px;
    }
    font-weight: 600;
    @include font-size-media-medium(30px, 60px);
}

.subtitle {
    width: 100%;
    margin-top: -30px;
    text-align: center;
    color: $blanco;
    padding: 0 5rem;
    font-family: $lato;
    @include font-size-media-medium(16px, 22px);
    font-weight: normal;
}

.modal-content {
    border-radius: 20px;
    padding: 15px;
    color: $gris-oscuro;
    border: solid 1px #696969;
    @include font-size-text();
    font-weight: 300;
}

.close {
    margin-top: -20px;
    margin-right: -15px;
}

.q-title {
    font-family: $lato;
    font-weight: 600;
}

.question {
    font-family: $lato;
    margin-bottom: 15px;
}
