@import '../../../theme/variables.scss';

$change-red-color: #ec2c22;
$amnistia-yellow-color: #ff0;

h1 {
  @include font-size-media-medium(18px, 20px);
  font-weight: 500;
}

span {
  @include font-size-text();
}

.title {
  @include font-size-tit();
}

.text {
    color: $negro;
    @include font-size-media-medium(17px, 19px);
}

.propuesta{
  .has-li{ padding-left: 17px; }
}

.firmar-change{
  span{
    color: $change-red-color;
    @include font-size-media-medium(18px, 20px);
  }
}

.amnistia-img{
  height: 70px;
}

.firmar-amnistia{
  span{
    color: $negro;
    @include font-size-media-medium(18px, 20px);
  }
}

.btn-firmar-row{
  a {
    margin: 0 auto;
    
    .btn {
      font-weight: bold;
      padding: 13px 60px;
      font-size: 20px;
      border-radius: 30px;
    }
    
    .btn-change {
      background: $change-red-color;
      color: $blanco;
    }
    
    .btn-amnistia {
      background: $amnistia-yellow-color;
      color: $negro;
    }
  }
}
