
<div class="container py-md-5 change-org">
  
    <ng-template [ngIf]="propuestasResumen">
      <div class="row mb-3">
          <div class="col">
              <h3 class="title mb-3 text-center text-md-left">Lo que proponemos</h3>
              <p class="text" [innerHTML]="propuestasResumen"></p>
          </div>
      </div>

      <div class="row">
      <ng-template ngFor let-propuesta [ngForOf]="propuestas">
        <div class="propuesta col-6 mb-4">
          <h1>{{propuesta[0]}}</h1>
          <div class="{{ punteoHasLi ? 'has-li' : '' }}" [innerHTML]="propuesta[1]"></div>
        </div>
      </ng-template>
      </div>
    </ng-template>
  
    <ng-template [ngIf]="propuestaLink">
      <div class="row text-center">
        <div class="col mt-4 mb-3">
          <a target="_blank" rel="noopener noreferrer" href="{{propuestaLink}}"><button type="button" class="btn btn-primary btn-aec btn-lg">{{propuestaLinkBtnTxt}}</button></a>
        </div>
      </div>
    </ng-template>
  
    <ng-template [ngIf]="showChange">
      <div class="row text-center">
        <div class="firmar-change col mt-4 mb-3">
          <span>Podés apoyar esta propuesta, firmando en Change.org</span>
        </div>
      </div>
    </ng-template>
  
    <ng-template [ngIf]="showAmnistia">
      <div class="row text-center">
        <div class="firmar-amnistia col-12 mt-4 mb-3">
          <span>Podés apoyar esta propuesta, firmando en Amnistia.org.ar</span>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="buttonLink && showChange || showAmnistia">
      <div class="row text-center btn-firmar-row">
        <a target="_blank" rel="noopener noreferrer" href="{{buttonLink}}"><button class="btn btn-{{ showChange ? 'change' : 'amnistia' }} mb-5 mb-md-0">¡Firmá acá!</button></a>
      </div>
    </ng-template>
  
    <ng-template [ngIf]="showAmnistia">
      <div class="row text-center mt-5">
        <div class="col-12">
          <a target="_blank" rel="noopener noreferrer" href="https://amnistia.org.ar/"><img class="amnistia-img d-block mx-auto" src="../../../assets/images/amnistia-logo.png"></a>
        </div>
      </div>
    </ng-template>
</div>

<!--<div class="container">
    <div class="row full-list-strip">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-aec btn-lg text-uppercase" [routerLink]="['/lista', project.slug]">Ver listado completo&emsp;<small><i class="fas fa-chevron-right"></i></small></button>
        </div>
    </div>
</div>-->