
<div class="container my-4">
    <div class="row">
        <div class="col">
            <h2 class="title">¡Comunicate para activar la campaña!</h2>
        </div>
    </div>
</div>

<slider>
    <ng-template ngFor let-politician [ngForOf]="politiciansList">
        <politician-card [project]="project" [politician]="politician"></politician-card>
    </ng-template>
</slider>

<ng-template [ngIf]="!project.es_debate || (politiciansList && politiciansList.length > 6)">
  <div class="container">
      <div class="row full-list-strip">
          <div class="col-12">
              <button type="button" class="btn btn-primary btn-aec btn-lg" [routerLink]="['/lista', project.slug]">Ver listado completo de congresistas&emsp;<small><i class="fas fa-chevron-right"></i></small></button>
          </div>
      </div>
  </div>
</ng-template>
