<div class="w-100 bg-azul-claro">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4 class="py-3 py-md-5">
                    <img class="d-none d-md-inline megafono-derecha mr-2 mr-lg-4" src="../../../assets/images/megafono-derecha.svg">
                    Ya activamos Somos Muchas <span class="d-block d-md-inline">{{ammount}} veces</span>
                    <img class="d-block d-md-inline megafono-izquierda ml-2 ml-lg-4 mt-2 mt-md-0" src="../../../assets/images/megafono-izquierda.svg">
                </h4>
            </div>
        </div>
    </div>
</div>
